<div class="modal" tabindex="-1" id="AddModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить абонента</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <label for="phoneNumber" class="form-label">Фамилия</label>
                <input type="text" class="form-control" id="phoneNumber">
                <label for="phoneNumber" class="form-label">Имя</label>
                <input type="text" class="form-control" id="phoneNumber">
                <label for="phoneNumber" class="form-label">Отчество</label>
                <input type="text" class="form-control" id="phoneNumber">
                <label for="phoneNumber" class="form-label">Улица</label>
                <input type="text" class="form-control" id="phoneNumber">
                <label for="phoneNumber" class="form-label">Номер дома</label>
                <input type="text" class="form-control" id="phoneNumber">
                <label for="phoneNumber" class="form-label">Номер телефона (домашний)</label>
                <input type="text" class="form-control" id="phoneNumber">
                <label for="phoneNumber" class="form-label">Номер телефона (рабочий)</label>
                <input type="text" class="form-control" id="phoneNumber">
                <label for="phoneNumber" class="form-label">Номер телефона (мобильный)</label>
                <input type="text" class="form-control" id="phoneNumber">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" о>Добавить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>