<div class="modal" tabindex="-1" id="SearchModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Поиск по номеру</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <label for="phoneNumber" class="form-label">Номер телефона</label>
                <input type="text" class="form-control" id="PhoneNumber">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="SearchBtn">Найти</button>
                <button type="button" class="btn btn-secondary" id="CancelSearchModal" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>